<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/stylesinicio.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- Enlace a los iconos de Boxicons -->
</head>
<body class="dark-theme">
    <nav>
        <ul>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Bienvenidos, Somos <span>D'alybe</span></h1>
        <p>Construyendo futuro con calidad y servicio</p>
        <div class="iconos_redesociales">
            <a href="https://www.instagram.com/prigamerr?igsh=MWE5enZyZ2s0cjZ1aA==" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.youtube.com/@prigamerr_1" target="_blank"><i class='bx bxl-youtube'></i></a>
        </div>
        <img src="/img/todos.png" alt="Imagen de Empresa de Tecnología" class="responsive-img">
    </div>
</body>
</html>
